@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');


.mainHome{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* background-color: blue; */
}

  @media screen and (max-width: 768px) {
    .HeroArt{
        display: none;
    }
  }

  @media screen and (min-width: 769px) {
    
    .TextContainer{
        transform: translateX(30%);
        overflow:auto;
        font-size: calc(0.75em + 1vmin);
        height: auto;
        width: 80%;
    }

    .HeroArt{
        overflow:hidden;
        transform: translateX(10%);
        height: auto;
        width: 80%;
    }
  }